@model ConnectedDot.ViewModels.SkillFormViewModel

@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Skill</h2>


@using (Html.BeginForm("AddSkill","Home")) 
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Category)
        @Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories, "Id", "Name"))
        @Html.ValidationMessageFor(m => m.Category)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.isKnown)
        @Html.CheckBoxFor(m => m.isKnown, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Level)
        @Html.TextBoxFor(m => m.Level,  new { @Value = "1" , @class = "form-control", placeholder = "Scale 1 to 5, single digit" })
        @Html.ValidationMessageFor(m => m.Level)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Notes)
        @Html.TextBoxFor(m => m.Notes, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Notes)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}